<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=B2BSystem;User ID=sa;Password=tommya;" providerName="System.Data.SqlClient" />
    <!--<add name="SysConn" connectionString="Data Source=KALINDU\SQL2014;Initial Catalog=Categlog_vrV2;User ID=sa;Password=tommya;" providerName="System.Data.SqlClient" />-->
    <!--<add name="SysConn" connectionString="Data Source=.\SQL2014;Initial Catalog=B2BSystem;User ID=sa;Password=tommya;" providerName="System.Data.SqlClient" />
    <add name="SysConLOG" connectionString="Data Source=.\SQL2014;Initial Catalog=B2BSystem_LOG;User ID=sa;Password=tommya;" providerName="System.Data.SqlClient" />
    <add name="AuthContext" connectionString="Data Source=.\SQL2014;Initial Catalog=B2BSystem_Security;User ID=sa;Password=tommya;" providerName="System.Data.SqlClient" />-->
    <add name="SysConn" connectionString="Data Source=.;Initial Catalog=B2BSystem;User ID=sa;Password=tommya;" providerName="System.Data.SqlClient" />
    <add name="SysConLOG" connectionString="Data Source=.;Initial Catalog=B2BSystem_LOG;User ID=sa;Password=tommya;" providerName="System.Data.SqlClient" />
    <add name="AuthContext" connectionString="Data Source=.;Initial Catalog=B2BSystem_Security;User ID=sa;Password=tommya;" providerName="System.Data.SqlClient" />

  </connectionStrings>
</configuration>